<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="leodeveloper@gmail.com">
        <network host="smtp.gmail.com"
         port="587"
         userName="ftpsendemail@gmail.com"
         password="ftp123456789@"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--source local directory configuration-->
    <add key="localDirectory" value="C:\test" />
    <!--End source local directory configuration-->
    <add key="destinationEmail" value="ftpsendemail@gmail.com" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>